/ComputeCommision/nbproject/private/
/ComputeCommision/build/
/DebugThree1/nbproject/private/
/DebugThree1/build/
/First/nbproject/private/
/First/build/
/SI_03/nbproject/private/
/SI_03/build/
/HW_03/nbproject/private/
/HW_03/build/
/HW_03/dist/
/MethodsWithNestedBlocks/nbproject/private/
/GregorianCalendar/nbproject/private/
/AgeCalculator/nbproject/private/
/ageCalculator/nbproject/private/
/state/nbproject/private/
/HW_03 2/build/
/HW_03 2/dist/
/HW_03 2/nbproject/private/
/state/build/
/HW_04/nbproject/private/
/HW_04/build/
/HW_04/dist/
/debugfive1/nbproject/private/
/RockPaperScissors/nbproject/private/
/RockPaperScissors/build/
/BankBalance/nbproject/private/
/CustomerColor/nbproject/private/
/count21/nbproject/private/
/count21/build/
/count21InClass/nbproject/private/
/count21InClass/build/
/bbbbbb/nbproject/private/
/secretPhrase/nbproject/private/
/secretPhrase/build/
/8-9/nbproject/private/
/findPrice/nbproject/private/
/findPrice/build/
/findPriceStudentDataFile/nbproject/private/
/findDiscount/nbproject/private/
/findDiscount/build/
/findDiscountStudentDataFile/nbproject/private/
/bubbleSort/nbproject/private/
/bubbleSort/build/
/service/nbproject/private/
/service/build/
/service/dist/
/Service1/nbproject/private/
/Service1/build/
/Employee/nbproject/private/
/demoConstructor/nbproject/private/
/demoConstructor/build/
/customer/nbproject/private/
/customer/build/
/Si_12/nbproject/private/
/Si_12/build/
/division/nbproject/private/
/division/build/
/collegeCourse/nbproject/private/
/collegeCourse/build/
/pathDemo/nbproject/private/
/NewProject/nbproject/private/
/PracticeProject/nbproject/private/