/ComputeCommision/nbproject/private/
/ComputeCommision/build/
/DebugThree1/nbproject/private/
/DebugThree1/build/
/First/nbproject/private/
/First/build/
/SI_03/nbproject/private/
/SI_03/build/
/HW_03/nbproject/private/
/HW_03/build/