<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>JavaDis copy copy copy.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>JavaDis copy copy.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>JavaDis copy.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>TestJavaDisplayBox.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6864F82D1BC5FD09004795D6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6883BAA61BD80FC4007B4E24</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6883BAAA1BD80FD1007B4E24</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6883BAAE1BD80FD8007B4E24</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
